.card-content.white-text {
    text-align:center;
    p{
        font-size: 12rem;
        margin: 5rem;
    }
}
.card-action{
    display: flex;
    justify-content: center;
    button{
        border-radius: 10px;
        border: 0;
        p{ 
            margin: 0.5em;
        }
    }
}